*.o
*.d
*.elf
*.objdump
*.map
*.log
Debug/
obj/
/DE0_Nano_SoC_Sniffer/hw/quartus/c5_pin_model_dump.txt
/DE0_Nano_SoC_Sniffer/hw/quartus/db/
/DE0_Nano_SoC_Sniffer/hw/quartus/hps_isw_handoff/
/DE0_Nano_SoC_Sniffer/hw/quartus/hps_sdram_p0_all_pins.txt
/DE0_Nano_SoC_Sniffer/hw/quartus/incremental_db/
/DE0_Nano_SoC_Sniffer/hw/quartus/output_files/
/DE0_Nano_SoC_Sniffer/hw/quartus/soc_system/
/DE0_Nano_SoC_Sniffer/hw/quartus/soc_system.sopcinfo
/DE0_Nano_SoC_Sniffer/sdcard/
/DE0_Nano_SoC_Sniffer/sw/hps/linux/rootfs/ubuntu-base-14.04.5-base-armhf.tar.gz
/DE0_Nano_SoC_Sniffer/sw/hps/linux/rootfs/ubuntu-core-rootfs/
/DE0_Nano_SoC_Sniffer/sw/hps/linux/source/
/DE0_Nano_SoC_Sniffer/sw/hps/preloader/
/DE0_Nano_SoC_Sniffer/sw/hps/u-boot/
